//COLORES DEL TEMA 
$--color-white: #FFFFFF;
$--color-black: #000000;


//Colodes de la paleta 
$--color-background:    #f8f9fa;
$--dark-orange: #ff9f1c;
$--light-orange: #ffbf69;

$--color-wine: #841515;
$--light-red: #BF4342;
$--medium-red: #ff6e67;

$--dark-green: #54954B;
$--medium-green: #93C48B;
$--light-green: #B3D6AE;

$--light-yellow: #ffeba7;

$--light-blue: #a9e0f0;

$--dark-purple: #3C1642;
$--medium-purple: #e99eff;


